@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,600;0,700;1,500&display=swap");
@import url("https://fonts.cdnfonts.com/css/tt-ricordi-trial");
@import url("https://fonts.cdnfonts.com/css/suithame");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a {
  color: black;
}
a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header .header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}
.header .header-container .header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-container .header-body .header-body__logo {
  position: relative;
  cursor: pointer;
  color: #FFFFFF;
  min-width: 200px;
  min-height: 60px;
}
.header .header-container .header-body .header-body__logo .header-body__img {
  display: block;
  position: absolute;
  left: 0;
  top: -60px;
  max-width: 200px;
  transform: rotate(90deg);
  transition: 0.5s;
}
.header .header-container .header-body .header-body__logo .header-body__img:hover {
  transform: rotate(95deg);
  transition: 0.5s;
}
.header .header-container .header-body .header-body__logo .header-body__img:active {
  transform: rotate(85deg);
  transition: 0.1s;
}
.header .header-container .header-body .header__menu .header-nav {
  font-family: "Arial";
  max-width: 443px;
  max-height: 27px;
}
.header .header-container .header-body .header__menu .header-nav .header-nav__list {
  display: flex;
  column-gap: 30px;
}
.header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item {
  margin-top: -5px;
  font-size: 15px;
  line-height: 160%;
}
.header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item .header-nav__link {
  white-space: nowrap;
  display: inline-block;
  color: #004a26;
  transition: 0.3s;
}
.header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item .header-nav__link:hover {
  color: #006b37;
  transform: scale(1.1);
  transition: 0.3s;
}
.header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item:last-child {
  margin-right: 0;
}
.header .header-container .menu__icon {
  display: none;
  position: relative;
  overflow: hidden;
  min-width: 30px;
  min-height: 30px;
  z-index: 5;
}
.header .header-container .menu__icon span {
  position: absolute;
  min-width: 30px;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #004a26;
  transition: all 0.3s;
}
.header .header-container .menu__icon span:nth-of-type(2) {
  top: calc(50% - 9px);
  transition: 0.3s;
}
.header .header-container .menu__icon span:nth-of-type(3) {
  top: calc(50% + 9px);
  transition: 0.3s;
}
.header .header-container .menu__icon.active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-10%, -100%) rotate(90deg);
}
.header .header-container .menu__icon.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-45%, -100%) rotate(90deg);
}
.header .header-container .menu__icon.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-80%, -100%) rotate(90deg);
}

@media (max-width: 1200px) {
  .header .header-container {
    max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header .header-container .header-body {
    justify-content: space-between;
  }
  .header .header-container .header-body .header-body__logo {
    min-width: 200px;
    min-height: 60px;
  }
  .header .header-container .header-body .header-body__logo .header-body__img {
    left: 0;
    top: -50px;
    max-width: 200px;
  }
}
@media (max-width: 768px) {
  .header .header-container {
    max-width: 706px;
    padding-left: 0;
    padding-right: 0;
  }
  .header .header-container .header-body .header-body__logo {
    min-width: 150px;
    min-height: 60px;
  }
  .header .header-container .header-body .header-body__logo .header-body__img {
    top: -50px;
    max-width: 150px;
  }
}
@media (max-width: 767.5px) {
  .header .header-container .header-body .header__menu {
    position: fixed;
    top: -150%;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(255, 255, 255) 10%, rgb(168, 208, 192) 50%);
    transition: 0.5s;
  }
  .header .header-container .header-body .header__menu.active {
    z-index: 4;
    top: 0;
    transition: 0.5s;
  }
  .header .header-container .header-body .header__menu .header-nav {
    max-width: 100%;
  }
  .header .header-container .header-body .header__menu .header-nav .header-nav__list {
    margin: 248px auto;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item {
    font-family: "TT Ricordi Trial";
    border-bottom: 1px solid rgb(97, 97, 97);
    margin: 0;
    font-size: 28px;
    line-height: 160%;
    transition: 0.2s;
  }
  .header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item.active {
    transform: scale(1.05);
    transition: 0.2s;
  }
  .header .header-container .header-body .menu__icon {
    min-height: 30px;
    display: block;
    color: #F1CDB3;
  }
}
@media (max-width: 720px) {
  .header .header-container {
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 620px) {
  .header .header-container {
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header .header-container .header-body .header-body__logo {
    min-width: 100px;
    min-height: 60px;
  }
  .header .header-container .header-body .header-body__logo .header-body__img {
    top: -20px;
    max-width: 100px;
  }
}
@media (max-width: 365px) {
  .header .header-container {
    max-width: 350px;
  }
}
@media (max-width: 290px) {
  .header .header-container {
    padding: 15px 10px;
  }
  .header .header-container .header-body .header__menu {
    width: 290px;
    height: 100%;
  }
  .header .header-container .header-body .header__menu .header-nav .header-nav__list {
    max-width: 220px;
    gap: 30px;
  }
  .header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item {
    font-size: 25px;
  }
}
.welcome-block {
  font-family: "Georgia";
}
.welcome-block .block__content {
  display: flex;
  justify-content: space-between;
}
.welcome-block .block__content .block__info {
  min-height: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  row-gap: 40px;
}
.welcome-block .block__content .block__info .block__title {
  font-family: "TT Ricordi Trial";
  color: #00592e;
  font-size: 50px;
  font-weight: 500;
}
.welcome-block .block__content .block__info .block__subtitle {
  font-family: Georgia;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  color: #00592e;
  max-width: 400px;
  font-size: 20px;
}
.welcome-block .block__content .block__info .block__subtitle .block__text-two .data {
  display: block;
  margin-top: 30px;
  font-family: "Suithame", sans-serif;
  font-size: 40px;
}
.welcome-block .block__content .block__img {
  position: relative;
  max-width: 700px;
  max-height: 700px;
}
.welcome-block .block__content .block__img .block__img_text {
  user-select: none;
  font-family: "TT Ricordi Trial";
  font-size: 90px;
  line-height: 80px;
  font-weight: 100;
  color: #00592e;
  text-align: center;
  position: absolute;
  left: 210px;
  bottom: 230px;
}
.welcome-block .block__content .block__img .block__img_text .first-name {
  margin-left: -30px;
}
.welcome-block .block__content .block__img .block__img_text .small-text {
  margin-left: 60px;
  font-size: 35px;
}
.welcome-block .block__content .block__img img {
  max-width: 700px;
  max-height: 700px;
}

@media (max-width: 1250px) {
  .welcome-block .block__content {
    justify-content: space-evenly;
  }
}
@media (max-width: 1100px) {
  .welcome-block .block__content {
    justify-content: space-evenly;
  }
  .welcome-block .block__content .block__img {
    max-width: 500px;
    max-height: 500px;
  }
  .welcome-block .block__content .block__img img {
    max-width: 500px;
    max-height: 500px;
  }
  .welcome-block .block__content .block__img .block__img_text {
    font-size: 70px;
    line-height: 60px;
    left: 110px;
    bottom: 160px;
  }
  .welcome-block .block__content .block__img .block__img_text .first-name {
    margin-left: 0;
  }
  .welcome-block .block__content .block__img .block__img_text .second-name {
    margin-left: 30px;
  }
  .welcome-block .block__content .block__img .block__img_text .small-text {
    margin-left: 0;
    font-size: 35px;
  }
}
@media (max-width: 980px) {
  .welcome-block .block__content {
    justify-content: space-evenly;
  }
  .welcome-block .block__content .block__info .block__title {
    font-size: 40px;
  }
  .welcome-block .block__content .block__info .block__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .welcome-block .block__content {
    justify-content: space-evenly;
  }
  .welcome-block .block__content .block__info {
    row-gap: 15px;
  }
  .welcome-block .block__content .block__info .block__title {
    font-size: 30px;
  }
  .welcome-block .block__content .block__info .block__subtitle {
    font-size: 12px;
    row-gap: 15px;
  }
  .welcome-block .block__content .block__info .block__subtitle .block__text-two .data {
    margin-top: 15px;
    font-size: 30px;
  }
  .welcome-block .block__content .block__img {
    max-width: 300px;
    max-height: 300px;
  }
  .welcome-block .block__content .block__img img {
    max-width: 300px;
    max-height: 300px;
  }
  .welcome-block .block__content .block__img .block__img_text {
    font-size: 40px;
    line-height: 40px;
    left: 60px;
    bottom: 85px;
  }
  .welcome-block .block__content .block__img .block__img_text .first-name {
    margin-left: 0;
  }
  .welcome-block .block__content .block__img .block__img_text .second-name {
    margin-left: 30px;
  }
}
@media (max-width: 490px) {
  .welcome-block .block__content {
    justify-content: space-evenly;
  }
  .welcome-block .block__content .block__info {
    row-gap: 10px;
  }
  .welcome-block .block__content .block__info .block__title {
    font-size: 20px;
  }
  .welcome-block .block__content .block__info .block__subtitle {
    font-size: 10px;
    row-gap: 10px;
  }
  .welcome-block .block__content .block__info .block__subtitle .block__text-two .data {
    margin-top: 10px;
    font-size: 20px;
  }
  .welcome-block .block__content .block__img {
    max-width: 200px;
    max-height: 200px;
  }
  .welcome-block .block__content .block__img img {
    max-width: 200px;
    max-height: 200px;
  }
  .welcome-block .block__content .block__img .block__img_text {
    font-size: 25px;
    line-height: 25px;
    left: 35px;
    bottom: 60px;
  }
  .welcome-block .block__content .block__img .block__img_text .first-name {
    margin-left: 0;
  }
  .welcome-block .block__content .block__img .block__img_text .second-name {
    margin-left: 30px;
  }
}
@media (max-width: 360px) {
  .welcome-block .block__content {
    justify-content: space-evenly;
  }
  .welcome-block .block__content .block__info {
    row-gap: 10px;
  }
  .welcome-block .block__content .block__info .block__title {
    font-size: 20px;
  }
  .welcome-block .block__content .block__info .block__subtitle {
    font-size: 9px;
    row-gap: 10px;
  }
  .welcome-block .block__content .block__info .block__subtitle .block__text-two .data {
    margin-top: 10px;
    font-size: 15px;
  }
}
@media (max-width: 300px) {
  .welcome-block .block__content {
    justify-content: space-evenly;
  }
  .welcome-block .block__content .block__info {
    row-gap: 10px;
  }
  .welcome-block .block__content .block__info .block__title {
    font-size: 15px;
    white-space: nowrap;
  }
  .welcome-block .block__content .block__info .block__subtitle {
    font-size: 10px;
    letter-spacing: 0;
    row-gap: 5px;
  }
  .welcome-block .block__content .block__info .block__subtitle .block__text-two .data {
    margin-top: 10px;
    font-size: 15px;
  }
  .welcome-block .block__content .block__img {
    max-width: 150px;
    max-height: 150px;
  }
  .welcome-block .block__content .block__img img {
    max-width: 150px;
    max-height: 150px;
  }
  .welcome-block .block__content .block__img .block__img_text {
    font-size: 18px;
    line-height: 20px;
    left: 27px;
    bottom: 45px;
  }
  .welcome-block .block__content .block__img .block__img_text .second-name {
    margin-left: 25px;
  }
}
.wishes-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wishes-block .block__content {
  cursor: pointer;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  max-width: 300px;
  padding: 15px;
  height: 100%;
  transition: 0.5s;
}
.wishes-block .block__content .block__colors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  row-gap: 15px;
}
.wishes-block .block__content .block__colors .block__color {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.wishes-block .block__content .block__colors .block__color .block_colored {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}
.wishes-block .block__content .block__colors .block__color .block__color_name {
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
}
.wishes-block .block__content .block__colors .block__color .color-1 {
  background-color: #E3DBD3;
}
.wishes-block .block__content .block__colors .block__color .color-2 {
  background-color: #9CB2A5;
}
.wishes-block .block__content .block__colors .block__color .color-3 {
  background-color: #8BA4B3;
}
.wishes-block .block__content .block__colors .block__color .color-4 {
  background-color: #C8B7C9;
}
.wishes-block .block__content .block__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #00592e;
}
.wishes-block .block__content .block__info .block__title {
  font-family: "TT Ricordi Trial";
  font-size: 30px;
  margin-bottom: 60px;
}
.wishes-block .block__content .block__info .block__list {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.wishes-block .block__content .block__info .block__list .block__item {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}
.wishes-block .block__content .block__info .block__list .block__item::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #00592e;
  border-radius: 10px;
  margin: 0 5px 5px 0;
}
.wishes-block .block__content .block__info .shedule__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.wishes-block .block__content .block__info .shedule__list .shedule__item {
  font-size: 18px;
  text-align: left;
}
.wishes-block .block__content .block__info .shedule__list .shedule__item .time {
  font-family: "Suithame", sans-serif;
}
.wishes-block .block__content .block__info .block__text {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
}
.wishes-block .block__content:nth-child(2) {
  max-width: 400px;
}

.close-look {
  transform: scale(1.05);
  box-shadow: 4px 6px 40px 2px rgba(1, 109, 57, 0.1764705882);
  transition: 0.5s;
}

@media (max-width: 1060px) {
  .wishes-block .block__content {
    max-width: 250px;
  }
  .wishes-block .block__content .block__info .block__title {
    margin-bottom: 20px;
  }
  .wishes-block .block__content .block__info .block__list {
    row-gap: 15px;
  }
  .wishes-block .block__content .block__info .block__list .block__item {
    font-size: 15px;
  }
  .wishes-block .block__content .block__info .shedule__list {
    row-gap: 15px;
  }
  .wishes-block .block__content .block__info .shedule__list .shedule__item {
    font-size: 15px;
    text-align: left;
  }
  .wishes-block .block__content .block__info .shedule__list .shedule__item .time {
    font-family: "Suithame", sans-serif;
  }
  .wishes-block .block__content .block__info .block__text {
    margin-top: 15px;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0;
  }
}
@media (max-width: 990px) {
  .wishes-block .block__content {
    max-width: 250px;
  }
  .wishes-block .block__content .block__info .block__title {
    font-size: 30px;
  }
  .wishes-block .block__content .block__info .block__colors .block__color .block_colored {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
  }
  .wishes-block .block__content .block__info .block__colors .block__color .block__color_name {
    font-size: 12px;
  }
  .wishes-block .block__content .block__info .block__list {
    max-width: 300px;
  }
  .wishes-block .block__content .block__info .block__list .block__item {
    font-size: 12px;
  }
  .wishes-block .block__content .block__info .shedule__list {
    row-gap: 15px;
  }
  .wishes-block .block__content .block__info .shedule__list .shedule__item {
    font-size: 12px;
  }
  .wishes-block .block__content .block__info .block__flex .block__text {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .wishes-block {
    gap: 15px;
  }
  .wishes-block .block__content .block__info .block__list {
    max-width: 400px;
  }
  .wishes-block .block__content .block__info .block__list .block__item::before {
    margin: 0 5px 2px 0;
  }
  .wishes-block .block__content .block__info .block__flex {
    max-width: 600px;
    display: flex;
  }
  .wishes-block .block__content .block__info .block__flex .block__text {
    text-align: left;
    max-width: 200px;
    margin: 0 0 0 20px;
  }
}
@media (max-width: 693px) {
  .wishes-block {
    gap: 15px;
  }
  .wishes-block .block__content {
    max-width: 355px;
  }
  .wishes-block .block__content .block__info .block__title {
    font-size: 30px;
  }
  .wishes-block .block__content .block__info .block__list {
    max-width: 400px;
  }
  .wishes-block .block__content .block__info .block__list .block__item::before {
    margin: 0 5px 2px 0;
  }
  .wishes-block .block__content .block__info .block__flex {
    max-width: 600px;
    display: flex;
  }
  .wishes-block .block__content .block__info .block__flex .block__text {
    text-align: left;
    max-width: 200px;
    margin: 0 0 0 20px;
  }
}
@media (max-width: 480px) {
  .wishes-block .block__content .block__info .block__title {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .wishes-block .block__content .block__info .block__flex {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  .wishes-block .block__content .block__info .block__flex .block__text {
    text-align: center;
    max-width: 200px;
    margin: 15px 0 0 0;
  }
}
.care-block .block__info {
  color: #00592e;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  row-gap: 40px;
}
.care-block .block__info .block__title {
  font-family: "TT Ricordi Trial";
  font-size: 35px;
}
.care-block .block__info .block__text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 3vh;
}
.care-block .block__info .block__text .block__list {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.care-block .block__info .block__text .block__list .block__item {
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: 0.5s;
}
.care-block .block__info .block__text .block__list .block__item::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #00592e;
  border-radius: 10px;
  margin: 0 5px 2px 0;
}
.care-block .block__info .block__text .block__list .block__item:hover {
  margin-left: 10px;
  transition: 0.5s;
}
.care-block .block__info .block__text .block__list .block__item:active {
  transform: scale(1.05);
  transition: 0.5s;
}

@media (max-width: 990px) {
  .care-block .block__info {
    row-gap: 30px;
  }
  .care-block .block__info .block__title {
    font-size: 30px;
  }
  .care-block .block__info .block__text {
    font-size: 15px;
  }
  .care-block .block__info .block__text .block__list {
    font-size: 13px;
    row-gap: 10px;
  }
}
@media (max-width: 480px) {
  .care-block .block__info {
    row-gap: 20px;
  }
  .care-block .block__info .block__title {
    font-size: 20px;
  }
  .care-block .block__info .block__text {
    font-size: 13px;
  }
  .care-block .block__info .block__text .block__list {
    font-size: 13px;
    row-gap: 10px;
  }
}
.map-block {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.map-block .block__info {
  text-align: center;
}
.map-block .block__info .block__title {
  font-family: "TT Ricordi Trial";
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 60px;
}
.map-block .block__info .block__position {
  max-width: 1200px;
}

@media (max-width: 990px) {
  .map-block .block__info .block__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .map-block .block__info .block__title {
    font-size: 20px;
  }
}
.form-block {
  display: flex;
  justify-content: space-evenly;
  color: #00592e;
}
.form-block .block__info {
  color: #FFFFFF;
  max-width: 100%;
  max-height: 60px;
}
.form-block .block__info .block__img {
  display: block;
  background: rgb(149, 210, 186);
  background: radial-gradient(circle, rgb(149, 210, 186) 3%, rgb(255, 255, 255) 74%);
  max-width: 500px;
}
.form-block .block__info .block__img img {
  max-width: 500px;
  transition: 0.5s;
}
.form-block .block__info .block__img img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.form-block .block__info .block__img img:active {
  opacity: 0.8;
}
.form-block * {
  outline: none;
}
.form-block .form__body {
  display: block;
}
.form-block .form__body .form__title {
  font-family: "TT Ricordi Trial";
  font-size: 40px;
  margin-bottom: 30px;
}
.form-block .form__body .form__item {
  margin-bottom: 20px;
}
.form-block .form__body .form__item .form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.form-block .form__body .form__item .form__input {
  font-size: 18px;
  min-height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #00592e;
  transition: 0.2s;
}
.form-block .form__body .form__item .form__input:focus {
  box-shadow: 0 0 10px #a8a8a8;
  transition: 0.2s;
}
.form-block .form__body .form__item .options .options__item {
  margin-bottom: 10px;
}
.form-block .form__body .form__item .options .options__item .options__input {
  display: none;
  transition: 0.3s;
}
.form-block .form__body .form__item .options .options__item .options__input:checked + .options__label::after {
  transform: scale(1);
  transition: 0.3s;
}
.form-block .form__body .form__item .options .options__item .options__label {
  position: relative;
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  transition: 0.3s;
}
.form-block .form__body .form__item .options .options__item .options__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
}
.form-block .form__body .form__item .options .options__item .options__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #00592e;
  border-radius: 50%;
  transform: scale(0);
}
.form-block .form__body .form__button {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #006b37;
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 0 #e3dbd3;
  transition: 0.5s;
}
.form-block .form__body .form__button:hover {
  background-color: #00944c;
  box-shadow: 0 4px 0 #948e89;
  transition: 0.5s;
}
.form-block .form__body .form__button:active {
  top: 3px;
  box-shadow: 0 2px 0 #948e89;
}

@media (max-width: 930px) {
  .form-block .block__info {
    max-width: 100%;
    max-height: 60px;
  }
  .form-block .block__info .block__img {
    max-width: 400px;
  }
  .form-block .block__info .block__img img {
    max-width: 400px;
  }
  .form-block .form__body .form__title {
    font-family: "TT Ricordi Trial";
    font-size: 30px;
    margin-bottom: 30px;
  }
  .form-block .form__body .form__item {
    margin-bottom: 20px;
  }
  .form-block .form__body .form__item .form__input {
    min-height: 50px;
    width: 100%;
  }
}
@media (max-width: 760px) {
  .form-block {
    display: block;
    max-width: 100%;
  }
  .form-block .block__info {
    max-height: 60px;
  }
  .form-block .block__info .block__img {
    display: none;
  }
  .form-block .block__info .block__img img {
    display: none;
  }
  .form-block .form__body {
    max-width: 80%;
    margin: 0 auto;
  }
  .form-block .form__body .form__title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .form-block .form__body .form__item {
    margin-bottom: 20px;
  }
  .form-block .form__body .form__item .form__input {
    min-height: 50px;
    width: 100%;
  }
}
@media (max-width: 470px) {
  .form-block {
    display: block;
    max-width: 100%;
  }
  .form-block .form__body {
    max-width: 80%;
    margin: 0 auto;
  }
  .form-block .form__body .form__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .form-block .form__body .form__item {
    margin-bottom: 20px;
  }
  .form-block .form__body .form__item .form__input {
    min-height: 50px;
    width: 100%;
  }
}
.footer {
  max-width: 1200px;
  margin: 100px auto;
  padding-bottom: 50px;
}
.footer .footer-container {
  text-align: center;
  font-size: 15px;
  color: gray;
  opacity: 0.8;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: white;
}

.block {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.welcome {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 10%, rgb(168, 208, 192) 50%);
}

.lock {
  overflow: hidden;
}

@media (max-width: 980px) {
  .block {
    padding: 0 15px;
  }
}
@media (max-width: 980px) {
  .block {
    padding: 0 15px;
    margin-bottom: 30px;
  }
}