@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;

0,600;0,700;1,500&display=swap");
@import url("https://fonts.cdnfonts.com/css/tt-ricordi-trial");
@import url("https://fonts.cdnfonts.com/css/suithame");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header .header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}

.header .header-container .header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .header-body .header-body__logo {
  position: relative;
  cursor: pointer;
  color: #FFFFFF;
  min-width: 200px;
  min-height: 60px;
}

.header .header-container .header-body .header-body__logo .header-body__img {
  display: block;
  position: absolute;
  left: 0;
  top: -60px;
  max-width: 200px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header .header-container .header-body .header-body__logo .header-body__img:hover {
  -webkit-transform: rotate(95deg);
      -ms-transform: rotate(95deg);
          transform: rotate(95deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header .header-container .header-body .header-body__logo .header-body__img:active {
  -webkit-transform: rotate(85deg);
      -ms-transform: rotate(85deg);
          transform: rotate(85deg);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.header .header-container .header-body .header__menu .header-nav {
  font-family: "Arial";
  max-width: 443px;
  max-height: 27px;
}

.header .header-container .header-body .header__menu .header-nav .header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item {
  margin-top: -5px;
  font-size: 15px;
  line-height: 160%;
}

.header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item .header-nav__link {
  white-space: nowrap;
  display: inline-block;
  color: #004a26;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item .header-nav__link:hover {
  color: #006b37;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item:last-child {
  margin-right: 0;
}

.header .header-container .menu__icon {
  display: none;
  position: relative;
  overflow: hidden;
  min-width: 30px;
  min-height: 30px;
  z-index: 5;
}

.header .header-container .menu__icon span {
  position: absolute;
  min-width: 30px;
  height: 3px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #004a26;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header .header-container .menu__icon span:nth-of-type(2) {
  top: calc(50% - 9px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header .header-container .menu__icon span:nth-of-type(3) {
  top: calc(50% + 9px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header .header-container .menu__icon.active span:nth-of-type(1) {
  top: 50%;
  -webkit-transform: translate(-10%, -100%) rotate(90deg);
      -ms-transform: translate(-10%, -100%) rotate(90deg);
          transform: translate(-10%, -100%) rotate(90deg);
}

.header .header-container .menu__icon.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-45%, -100%) rotate(90deg);
      -ms-transform: translate(-45%, -100%) rotate(90deg);
          transform: translate(-45%, -100%) rotate(90deg);
}

.header .header-container .menu__icon.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-80%, -100%) rotate(90deg);
      -ms-transform: translate(-80%, -100%) rotate(90deg);
          transform: translate(-80%, -100%) rotate(90deg);
}

.welcome-block {
  font-family: "Georgia";
}

.welcome-block .block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome-block .block__content .block__info {
  min-height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  row-gap: 40px;
}

.welcome-block .block__content .block__info .block__title {
  font-family: "TT Ricordi Trial";
  color: #00592e;
  font-size: 50px;
  font-weight: 500;
}

.welcome-block .block__content .block__info .block__subtitle {
  font-family: Georgia;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  color: #00592e;
  max-width: 400px;
  font-size: 20px;
}

.welcome-block .block__content .block__info .block__subtitle .block__text-two .data {
  display: block;
  margin-top: 30px;
  font-family: "Suithame", sans-serif;
  font-size: 40px;
}

.welcome-block .block__content .block__img {
  position: relative;
  max-width: 700px;
  max-height: 700px;
}

.welcome-block .block__content .block__img .block__img_text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "TT Ricordi Trial";
  font-size: 90px;
  line-height: 80px;
  font-weight: 100;
  color: #00592e;
  text-align: center;
  position: absolute;
  left: 210px;
  bottom: 230px;
}

.welcome-block .block__content .block__img .block__img_text .first-name {
  margin-left: -30px;
}

.welcome-block .block__content .block__img .block__img_text .small-text {
  margin-left: 60px;
  font-size: 35px;
}

.welcome-block .block__content .block__img img {
  max-width: 700px;
  max-height: 700px;
}

.wishes-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wishes-block .block__content {
  cursor: pointer;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  max-width: 300px;
  padding: 15px;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.wishes-block .block__content .block__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 15px;
}

.wishes-block .block__content .block__colors .block__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.wishes-block .block__content .block__colors .block__color .block_colored {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.wishes-block .block__content .block__colors .block__color .block__color_name {
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
}

.wishes-block .block__content .block__colors .block__color .color-1 {
  background-color: #e4b98e;
}

.wishes-block .block__content .block__colors .block__color .color-2 {
  background-color: #9CB2A5;
}

.wishes-block .block__content .block__colors .block__color .color-3 {
  background-color: #8cc7e9;
}

.wishes-block .block__content .block__colors .block__color .color-4 {
  background-color: #C8B7C9;
}

.wishes-block .block__content .block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #00592e;
}

.wishes-block .block__content .block__info .block__title {
  font-family: "TT Ricordi Trial";
  font-size: 30px;
  margin-bottom: 60px;
}

.wishes-block .block__content .block__info .block__list {
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.wishes-block .block__content .block__info .block__list .block__item {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.wishes-block .block__content .block__info .block__list .block__item::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #00592e;
  border-radius: 10px;
  margin: 0 5px 5px 0;
}

.wishes-block .block__content .block__info .shedule__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.wishes-block .block__content .block__info .shedule__list .shedule__item {
  font-size: 18px;
  text-align: left;
}

.wishes-block .block__content .block__info .shedule__list .shedule__item .time {
  font-family: "Suithame", sans-serif;
}

.wishes-block .block__content .block__info .block__text {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
}

.wishes-block .block__content:nth-child(2) {
  max-width: 400px;
}

.close-look {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 4px 6px 40px 2px rgba(1, 109, 57, 0.1764705882);
          box-shadow: 4px 6px 40px 2px rgba(1, 109, 57, 0.1764705882);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.care-block .block__info {
  color: #00592e;
  min-height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  row-gap: 40px;
}

.care-block .block__info .block__title {
  font-family: "TT Ricordi Trial";
  font-size: 35px;
}

.care-block .block__info .block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  font-size: 3vh;
}

.care-block .block__info .block__text .block__list {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.care-block .block__info .block__text .block__list .block__item {
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.care-block .block__info .block__text .block__list .block__item::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #00592e;
  border-radius: 10px;
  margin: 0 5px 2px 0;
}

.care-block .block__info .block__text .block__list .block__item:hover {
  margin-left: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.care-block .block__info .block__text .block__list .block__item:active {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.map-block {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.map-block .block__info {
  text-align: center;
}

.map-block .block__info .block__title {
  font-family: "TT Ricordi Trial";
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 60px;
}

.map-block .block__info .block__position {
  max-width: 1200px;
}

.form-block {
  max-height: 100%;
  color: #00592e;
}

.form-block .block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form-block .block__info .block__img {
  display: block;
  background: rgb(149, 210, 186);
  background: -o-radial-gradient(circle, rgb(149, 210, 186) 3%, rgb(255, 255, 255) 74%);
  background: radial-gradient(circle, rgb(149, 210, 186) 3%, rgb(255, 255, 255) 74%);
  max-width: 500px;
}

.form-block .block__info .block__img img {
  max-width: 500px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.form-block .block__info .block__img img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.form-block .block__info .block__img img:active {
  opacity: 0.8;
}

.form-block .block__info .block__form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 25px;
}

.form-block .block__info .block__form .block__title {
  font-family: "TT Ricordi Trial";
  font-size: 35px;
}

.form-block .block__info .block__form .block__subtitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.form-block .block__info .block__form .block__subtitle .block__subtitle_small {
  margin-top: 10px;
  text-decoration: underline;
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 10px;
}

.form-block .block__info .block__form .block__wrapper {
  min-width: 90%;
  min-height: 300px;
  max-height: 500px;
}

.form-block .block__info .block__form .block__wrapper .google-form {
  min-width: 90%;
  min-height: 350px;
}

.form-block .block__info .block__form .block__button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #00592e;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-block .block__info .block__form .block__button:hover {
  border-color: #2EE59D;
  background: #2EE59D;
  -webkit-box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
          box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}

.form-block .block__info .block__form .block__button:active {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  text-align: center;
  font-size: 15px;
  color: gray;
  opacity: 0.8;
}

.footer .footer-container .footer__info .man:hover {
  color: rgb(98, 105, 197);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer .footer-container .footer__info .woman:hover {
  color: rgb(219, 95, 182);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer .footer-container .footer__link {
  cursor: pointer;
  color: gray;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer .footer-container .footer__link:visited {
  color: gray;
}

.footer .footer-container .footer-dev {
  opacity: 0.6;
  font-size: 9px;
}

.footer .footer-container .footer-dev .dev:hover {
  color: rgb(0, 0, 0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: white;
}

.block {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.welcome {
  background: rgb(255, 255, 255);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgb(255, 255, 255)), color-stop(50%, rgb(168, 208, 192)));
  background: -o-linear-gradient(bottom, rgb(255, 255, 255) 10%, rgb(168, 208, 192) 50%);
  background: linear-gradient(0deg, rgb(255, 255, 255) 10%, rgb(168, 208, 192) 50%);
}

.lock {
  overflow: hidden;
}

@media (max-width: 1250px) {
  .welcome-block .block__content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 1200px) {
  .header .header-container {
    max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header .header-container .header-body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header .header-container .header-body .header-body__logo {
    min-width: 200px;
    min-height: 60px;
  }

  .header .header-container .header-body .header-body__logo .header-body__img {
    left: 0;
    top: -50px;
    max-width: 200px;
  }
}

@media (max-width: 1100px) {
  .welcome-block .block__content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .welcome-block .block__content .block__img {
    max-width: 500px;
    max-height: 500px;
  }

  .welcome-block .block__content .block__img img {
    max-width: 500px;
    max-height: 500px;
  }

  .welcome-block .block__content .block__img .block__img_text {
    font-size: 70px;
    line-height: 60px;
    left: 110px;
    bottom: 160px;
  }

  .welcome-block .block__content .block__img .block__img_text .first-name {
    margin-left: 0;
  }

  .welcome-block .block__content .block__img .block__img_text .second-name {
    margin-left: 30px;
  }

  .welcome-block .block__content .block__img .block__img_text .small-text {
    margin-left: 0;
    font-size: 35px;
  }
}

@media (max-width: 1060px) {
  .wishes-block .block__content {
    max-width: 250px;
  }

  .wishes-block .block__content .block__info .block__title {
    margin-bottom: 20px;
  }

  .wishes-block .block__content .block__info .block__list {
    row-gap: 15px;
  }

  .wishes-block .block__content .block__info .block__list .block__item {
    font-size: 15px;
  }

  .wishes-block .block__content .block__info .shedule__list {
    row-gap: 15px;
  }

  .wishes-block .block__content .block__info .shedule__list .shedule__item {
    font-size: 15px;
    text-align: left;
  }

  .wishes-block .block__content .block__info .shedule__list .shedule__item .time {
    font-family: "Suithame", sans-serif;
  }

  .wishes-block .block__content .block__info .block__text {
    margin-top: 15px;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0;
  }
}

@media (max-width: 990px) {
  .wishes-block .block__content {
    max-width: 250px;
  }

  .wishes-block .block__content .block__info .block__title {
    font-size: 30px;
  }

  .wishes-block .block__content .block__info .block__colors .block__color .block_colored {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
  }

  .wishes-block .block__content .block__info .block__colors .block__color .block__color_name {
    font-size: 12px;
  }

  .wishes-block .block__content .block__info .block__list {
    max-width: 300px;
  }

  .wishes-block .block__content .block__info .block__list .block__item {
    font-size: 12px;
  }

  .wishes-block .block__content .block__info .shedule__list {
    row-gap: 15px;
  }

  .wishes-block .block__content .block__info .shedule__list .shedule__item {
    font-size: 12px;
  }

  .wishes-block .block__content .block__info .block__flex .block__text {
    font-size: 12px;
  }

  .care-block .block__info {
    row-gap: 30px;
  }

  .care-block .block__info .block__title {
    font-size: 30px;
  }

  .care-block .block__info .block__text {
    font-size: 15px;
  }

  .care-block .block__info .block__text .block__list {
    font-size: 13px;
    row-gap: 10px;
  }

  .map-block .block__info .block__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .form-block .block__info {
    max-width: 100%;
  }

  .form-block .block__info .block__img {
    max-width: 400px;
  }

  .form-block .block__info .block__img img {
    max-width: 400px;
  }

  .form-block .block__info .block__form {
    row-gap: 15px;
  }

  .form-block .block__info .block__form .block__tile {
    font-size: 30px;
  }
}

@media (max-width: 980px) {
  .welcome-block .block__content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .welcome-block .block__content .block__info .block__title {
    font-size: 40px;
  }

  .welcome-block .block__content .block__info .block__subtitle {
    font-size: 15px;
  }

  .block {
    padding: 0 15px;
  }

  .block {
    padding: 0 15px;
    margin-bottom: 40px;
  }
}

@media (max-width: 930px) {
  .form-block .block__info {
    max-width: 100%;
  }

  .form-block .block__info .block__img {
    max-width: 400px;
  }

  .form-block .block__info .block__img img {
    max-width: 400px;
  }

  .form-block .block__info .block__form .block__subtitle {
    font-size: 15px;
  }
}

@media (max-width: 850px) {
  .form-block {
    display: block;
    max-width: 100%;
  }

  .form-block .block__info .block__img {
    display: none;
  }

  .form-block .block__info .block__img img {
    display: none;
  }

  .form-block .block__info .block__form .block__wrapper {
    min-width: 100%;
    min-height: 300px;
    max-height: 500px;
  }

  .form-block .block__info .block__form .block__wrapper .google-form {
    min-width: 100%;
    min-height: 350px;
  }
}

@media (max-width: 800px) {
  .wishes-block {
    gap: 15px;
  }

  .wishes-block .block__content .block__info .block__list {
    max-width: 400px;
  }

  .wishes-block .block__content .block__info .block__list .block__item::before {
    margin: 0 5px 2px 0;
  }

  .wishes-block .block__content .block__info .block__flex {
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .wishes-block .block__content .block__info .block__flex .block__text {
    text-align: left;
    max-width: 200px;
    margin: 0 0 0 20px;
  }
}

@media (max-width: 768px) {
  .header .header-container {
    max-width: 706px;
    padding-left: 0;
    padding-right: 0;
  }

  .header .header-container .header-body .header-body__logo {
    min-width: 150px;
    min-height: 60px;
  }

  .header .header-container .header-body .header-body__logo .header-body__img {
    top: -50px;
    max-width: 150px;
  }
}

@media (max-width: 767.5px) {
  .header .header-container .header-body .header__menu {
    position: fixed;
    top: -150%;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgb(255, 255, 255)), color-stop(50%, rgb(168, 208, 192)));
    background: -o-linear-gradient(bottom, rgb(255, 255, 255) 10%, rgb(168, 208, 192) 50%);
    background: linear-gradient(0deg, rgb(255, 255, 255) 10%, rgb(168, 208, 192) 50%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header .header-container .header-body .header__menu.active {
    z-index: 4;
    top: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header .header-container .header-body .header__menu .header-nav {
    max-width: 100%;
  }

  .header .header-container .header-body .header__menu .header-nav .header-nav__list {
    margin: 248px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }

  .header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item {
    font-family: "TT Ricordi Trial";
    border-bottom: 1px solid rgb(97, 97, 97);
    margin: 0;
    font-size: 28px;
    line-height: 160%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item.active {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .header .header-container .header-body .menu__icon {
    min-height: 30px;
    display: block;
    color: #F1CDB3;
  }
}

@media (max-width: 750px) {
  .welcome-block .block__content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .welcome-block .block__content .block__info {
    row-gap: 15px;
  }

  .welcome-block .block__content .block__info .block__title {
    font-size: 30px;
  }

  .welcome-block .block__content .block__info .block__subtitle {
    font-size: 12px;
    row-gap: 15px;
  }

  .welcome-block .block__content .block__info .block__subtitle .block__text-two .data {
    margin-top: 15px;
    font-size: 30px;
  }

  .welcome-block .block__content .block__img {
    max-width: 300px;
    max-height: 300px;
  }

  .welcome-block .block__content .block__img img {
    max-width: 300px;
    max-height: 300px;
  }

  .welcome-block .block__content .block__img .block__img_text {
    font-size: 40px;
    line-height: 40px;
    left: 60px;
    bottom: 85px;
  }

  .welcome-block .block__content .block__img .block__img_text .first-name {
    margin-left: 0;
  }

  .welcome-block .block__content .block__img .block__img_text .second-name {
    margin-left: 30px;
  }
}

@media (max-width: 720px) {
  .header .header-container {
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 693px) {
  .wishes-block {
    gap: 15px;
  }

  .wishes-block .block__content {
    max-width: 355px;
  }

  .wishes-block .block__content .block__info .block__title {
    font-size: 30px;
  }

  .wishes-block .block__content .block__info .block__list {
    max-width: 400px;
  }

  .wishes-block .block__content .block__info .block__list .block__item::before {
    margin: 0 5px 2px 0;
  }

  .wishes-block .block__content .block__info .block__flex {
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .wishes-block .block__content .block__info .block__flex .block__text {
    text-align: left;
    max-width: 200px;
    margin: 0 0 0 20px;
  }
}

@media (max-width: 620px) {
  .header .header-container {
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header .header-container .header-body .header-body__logo {
    min-width: 100px;
    min-height: 60px;
  }

  .header .header-container .header-body .header-body__logo .header-body__img {
    top: -20px;
    max-width: 100px;
  }
}

@media (max-width: 490px) {
  .welcome-block .block__content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .welcome-block .block__content .block__info {
    row-gap: 10px;
  }

  .welcome-block .block__content .block__info .block__title {
    font-size: 20px;
  }

  .welcome-block .block__content .block__info .block__subtitle {
    font-size: 10px;
    row-gap: 10px;
  }

  .welcome-block .block__content .block__info .block__subtitle .block__text-two .data {
    margin-top: 10px;
    font-size: 20px;
  }

  .welcome-block .block__content .block__img {
    max-width: 200px;
    max-height: 200px;
  }

  .welcome-block .block__content .block__img img {
    max-width: 200px;
    max-height: 200px;
  }

  .welcome-block .block__content .block__img .block__img_text {
    font-size: 25px;
    line-height: 25px;
    left: 35px;
    bottom: 60px;
  }

  .welcome-block .block__content .block__img .block__img_text .first-name {
    margin-left: 0;
  }

  .welcome-block .block__content .block__img .block__img_text .second-name {
    margin-left: 30px;
  }
}

@media (max-width: 480px) {
  .wishes-block .block__content .block__info .block__title {
    font-size: 20px;
  }

  .care-block .block__info {
    row-gap: 20px;
  }

  .care-block .block__info .block__title {
    font-size: 20px;
  }

  .care-block .block__info .block__text {
    font-size: 13px;
  }

  .care-block .block__info .block__text .block__list {
    font-size: 13px;
    row-gap: 10px;
  }

  .map-block .block__info .block__title {
    font-size: 20px;
  }

  .form-block {
    display: block;
    max-width: 100%;
  }

  .form-block .block__info .block__form .block__tile {
    font-size: 30px;
  }
}

@media (max-width: 365px) {
  .header .header-container {
    max-width: 350px;
  }
}

@media (max-width: 360px) {
  .welcome-block .block__content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .welcome-block .block__content .block__info {
    row-gap: 10px;
  }

  .welcome-block .block__content .block__info .block__title {
    font-size: 20px;
  }

  .welcome-block .block__content .block__info .block__subtitle {
    font-size: 9px;
    row-gap: 10px;
  }

  .welcome-block .block__content .block__info .block__subtitle .block__text-two .data {
    margin-top: 10px;
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .wishes-block .block__content .block__info .block__flex {
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wishes-block .block__content .block__info .block__flex .block__text {
    text-align: center;
    max-width: 200px;
    margin: 15px 0 0 0;
  }
}

@media (max-width: 300px) {
  .welcome-block .block__content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .welcome-block .block__content .block__info {
    row-gap: 10px;
  }

  .welcome-block .block__content .block__info .block__title {
    font-size: 15px;
    white-space: nowrap;
  }

  .welcome-block .block__content .block__info .block__subtitle {
    font-size: 10px;
    letter-spacing: 0;
    row-gap: 5px;
  }

  .welcome-block .block__content .block__info .block__subtitle .block__text-two .data {
    margin-top: 10px;
    font-size: 15px;
  }

  .welcome-block .block__content .block__img {
    max-width: 150px;
    max-height: 150px;
  }

  .welcome-block .block__content .block__img img {
    max-width: 150px;
    max-height: 150px;
  }

  .welcome-block .block__content .block__img .block__img_text {
    font-size: 18px;
    line-height: 20px;
    left: 27px;
    bottom: 45px;
  }

  .welcome-block .block__content .block__img .block__img_text .second-name {
    margin-left: 25px;
  }
}

@media (max-width: 290px) {
  .header .header-container {
    padding: 15px 10px;
  }

  .header .header-container .header-body .header__menu {
    width: 290px;
    height: 100%;
  }

  .header .header-container .header-body .header__menu .header-nav .header-nav__list {
    max-width: 220px;
    gap: 30px;
  }

  .header .header-container .header-body .header__menu .header-nav .header-nav__list .header-nav__item {
    font-size: 25px;
  }
}